<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <gazebo reference="Neck">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="Head">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="Hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="Pelvis">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="Tibia">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="torso">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="LShoulder">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="LBicep">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="LElbow">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="LForeArm">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="l_wrist">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="l_gripper">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="RShoulder">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="RBicep">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="RElbow">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="RForeArm">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="r_wrist">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="r_gripper">
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
    </gazebo>

    <gazebo reference="RFinger41_link">
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
    </gazebo>

    <gazebo reference="LFinger42_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger12_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger33_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger31_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger21_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger32_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger13_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger32_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger11_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger22_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger13_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger22_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger21_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger41_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger12_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger23_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger11_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger23_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger43_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger43_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger42_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LFinger31_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RFinger33_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LThumb1_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RThumb2_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="RThumb1_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="LThumb2_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
    </gazebo>

    <gazebo reference="WheelFL_link">
        <mu1>0.0001</mu1>
        <mu2>0.0001</mu2>
        <kp>1000</kp>
        <kd>10</kd>
    </gazebo>

    <gazebo reference="WheelFR_link">
        <mu1>0.0001</mu1>
        <mu2>0.0001</mu2>
        <kp>1000</kp>
        <kd>10</kd>
    </gazebo>

    <gazebo reference="WheelB_link">
        <!-- Friction parameters: set to near zero -->
        <mu1>0.0001</mu1>
        <mu2>0.0001</mu2>
        <kp>1000</kp>   <!-- lower contact stiffness -->
        <kd>10</kd>   <!-- lower contact damping -->
    </gazebo>

    <!-- Enables the communication with ros2_control -->
    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find hrobot_bringup)/config/controllers.yaml</parameters>
            <controller_manager_node_name>controller_manager</controller_manager_node_name>
        </plugin>
    </gazebo>

    <!-- Enables navigation
    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <left_joint>WheelFL</left_joint>
            <right_joint>WheelFR</right_joint>
            <wheel_separation>0.31</wheel_separation>
            <wheel_radius>0.08</wheel_radius>
            <odom_publish_frequency>1</odom_publish_frequency>
            <topic>cmd_vel</topic>
        </plugin>
    </gazebo> -->

    <!-- RGBD camera -->
    <gazebo reference="RGBD_Camera_link">
        <sensor name="rgbd_cam" type="rgbd_camera">
            <camera>
                <horizontal_fov>1.5184</horizontal_fov>
                <image>
                    <width>424</width>
                    <height>240</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>1.5</far>
                </clip>
            </camera>
            <always_on>1</always_on>
            <gz_frame_id>RGBD_Camera_link</gz_frame_id>
            <topic>cam_1</topic>
            <update_rate>15.0</update_rate>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <gazebo reference="camera_link">
      <material>Gazebo/Red</material>
    </gazebo>

    <!-- Lidar sensor -->
    <gazebo reference="Lidar_Sensor_link">
        <sensor name="laser_sensor" type="gpu_lidar">
            <topic>scan</topic>
            <update_rate>10</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                    
                    <!-- 2D Lidar settings -->
                    <vertical>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>0.0</max_angle>
                    </vertical>
                    
                    <!-- 3D Lidar settings (PointCloud)-->
                    <!-- <vertical>
                        <samples>32</samples>
                        <min_angle>-0.5353</min_angle>
                        <max_angle>0.1862</max_angle>
                    </vertical> -->
                </scan>
                <range>
                    <min>0.2</min>
                    <max>25.0</max>
                    <resolution>0.225</resolution>
                </range>
            </lidar>
            <gz_frame_id>Lidar_Sensor_link</gz_frame_id>
        </sensor>
    </gazebo>

    <!-- IMU sensor -->
    <!-- <gazebo reference="IMU_link">
        <material>
            <ambient>'0.1 0.1 0.1 1'</ambient>
            <diffuse>'0.1 0.1 0.1 1'</diffuse>
            <specular>'0.1 0.1 0.1 1'</specular>
        </material>
        <sensor name="imu_sensor" type="imu">
            <topic>imu/data</topic>
            <update_rate>15.0</update_rate>
            <always_on>1</always_on>
            <visualize>false</visualize>
            <gz_frame_id>IMU_link</gz_frame_id>
        </sensor>
    </gazebo> -->

</robot>